/* --- GLOBALE SETTINGS --- */
body {
  font-family: 'Baloo 2', cursive;
  margin: 0;
  background-color: #fff8f0;
  color: #222;
  line-height: 1.6;
}



/* --- HEADER --- */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 2rem 8rem;
  color: #333;
}

.logo {
  max-width: 100px;
  width: 100%;
  height: auto;
}

#searchInput {
  justify-self: center;
  width: 100%;
  max-width: 250px;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  border: solid #333;
  font-size: 1rem;
}

#searchInput:focus {
  outline: none; 
  border: 3px solid #ff7817; 
  color: #ff7817; 
}

nav {
  justify-self: end;
  display: flex;
  gap: 3.5rem;
}

nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

nav a:hover {
  color: #ff7817;
}



/* --- Recipe Detail --- */
#recipeDetail {
  max-width: 900px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 5rem;
  border-radius: 15px;
  box-shadow: 0 0 12px lightgrey;
  text-align: left;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;
}

#recipeTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#recipeTop img {
  width: 100%;
  max-width: 350px;
  height: auto;
  margin-top: 30px;
  border-radius: 15px;
}

.ingredients h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ingredients ul {
  columns: 2;
  gap: 2rem;
  padding-left: 0.8rem;
}


.recipe-meta {
  display: grid;
  color: #333;
  margin-top: 1rem;
  font-size: 0.95rem; 
}



.instructions h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.instructions ol {
  padding-left: 1.5rem;
  line-height: 1.8rem;
  text-align: justify;
}

.instructions ol li {
  margin-bottom: 1rem; /* dette gør, at der kommerer afstand og tydeligt linjeskift efter hvert punkt */
}

.youtube-link {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #ff884d;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s, transform 0.2s;
}

.youtube-link:hover {
  background-color: #ff6b1d;
  transform: translateY(-2px);
}